<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerDispatch</servlet-name>
        <servlet-class>tientt.servlet.ControllerDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLoginServlet</servlet-name>
        <servlet-class>tientt.servlet.AccountLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileSearchStaffServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileSearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerStartup</servlet-name>
        <servlet-class>tientt.servlet.ControllerStartup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileSearchUserServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileSearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLogoutServlet</servlet-name>
        <servlet-class>tientt.servlet.AccountLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDeleteServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileUpdateServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingAddToCartServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingAddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingViewCartServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartDeleteServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingCartDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerDispatch</servlet-name>
        <url-pattern>/ControllerDispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLoginServlet</servlet-name>
        <url-pattern>/AccountLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileSearchStaffServlet</servlet-name>
        <url-pattern>/MobileSearchStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerStartup</servlet-name>
        <url-pattern>/ControllerStartup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileSearchUserServlet</servlet-name>
        <url-pattern>/MobileSearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLogoutServlet</servlet-name>
        <url-pattern>/AccountLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDeleteServlet</servlet-name>
        <url-pattern>/MobileDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileUpdateServlet</servlet-name>
        <url-pattern>/MobileUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingAddToCartServlet</servlet-name>
        <url-pattern>/ShoppingAddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingViewCartServlet</servlet-name>
        <url-pattern>/ShoppingViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartDeleteServlet</servlet-name>
        <url-pattern>/ShoppingCartDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            ControllerDispatch
        </welcome-file>
    </welcome-file-list>
</web-app>
