<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerDispatch</servlet-name>
        <servlet-class>tientt.servlet.ControllerDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLoginServlet</servlet-name>
        <servlet-class>tientt.servlet.AccountLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSearchViewServlet</servlet-name>
        <servlet-class>tientt.servlet.ClientSearchViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchViewServlet</servlet-name>
        <servlet-class>tientt.servlet.StaffSearchViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLogoutServlet</servlet-name>
        <servlet-class>tientt.servlet.AccountLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountStartupServlet</servlet-name>
        <servlet-class>tientt.servlet.AccountStartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDeleteServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileUpdateServlet</servlet-name>
        <servlet-class>tientt.servlet.MobileUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartAddServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingCartAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerDispatch</servlet-name>
        <url-pattern>/ControllerDispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLoginServlet</servlet-name>
        <url-pattern>/AccountLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSearchViewServlet</servlet-name>
        <url-pattern>/ClientSearchViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchViewServlet</servlet-name>
        <url-pattern>/StaffSearchViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLogoutServlet</servlet-name>
        <url-pattern>/AccountLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountStartupServlet</servlet-name>
        <url-pattern>/AccountStartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDeleteServlet</servlet-name>
        <url-pattern>/MobileDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileUpdateServlet</servlet-name>
        <url-pattern>/MobileUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartAddServlet</servlet-name>
        <url-pattern>/ShoppingCartAddServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            ControllerDispatch
        </welcome-file>
    </welcome-file-list>
</web-app>
