<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>tientt.listener.SessionListenerr</listener-class>
    </listener>
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>tientt.servlet.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tientt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tientt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingPageServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupController</servlet-name>
        <servlet-class>tientt.servlet.StartupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingAddToCartServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingAddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingViewCartServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingDeleteItemInCartServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingDeleteItemInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCheckOutServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingCheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingViewCheckOutServlet</servlet-name>
        <servlet-class>tientt.servlet.ShoppingViewCheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingPageServlet</servlet-name>
        <url-pattern>/ShoppingPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupController</servlet-name>
        <url-pattern>/StartupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingAddToCartServlet</servlet-name>
        <url-pattern>/ShoppingAddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingViewCartServlet</servlet-name>
        <url-pattern>/ShoppingViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingDeleteItemInCartServlet</servlet-name>
        <url-pattern>/ShoppingDeleteItemInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCheckOutServlet</servlet-name>
        <url-pattern>/ShoppingCheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingViewCheckOutServlet</servlet-name>
        <url-pattern>/ShoppingViewCheckOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatchController
        </welcome-file>
    </welcome-file-list>
</web-app>
